<div class="w-section headerhome" data-bundle="header">
    <div data-collapse="medium" data-animation="default" data-duration="400" class="w-nav navbar homepage">
      <div class="w-clearfix nav-container">
        <a href="index.html" class="w-nav-brand logolink"><img width="312" src="images/PYR%20logo.png" class="logo"></a>
        <nav role="navigation" class="w-nav-menu nav-menu"><div data-delay="0" class="w-dropdown">
            <div class="w-dropdown-toggle">
              <div class="navlink">About</div>
              <div class="w-icon-dropdown-toggle dropdown"></div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="about-parks-youth-ranch.html" class="w-dropdown-link dropdownlink sub">About Parks Youth Ranch</a><a href="shelter-counseling-center.html" class="w-dropdown-link dropdownlink sub">Shelter &amp; Counseling Center</a><a href="our-sponsors.html" class="w-dropdown-link dropdownlink sub">Our Sponsors</a><a href="latest-news.html" class="w-dropdown-link dropdownlink">Latest News</a>
            </nav>
</div>
          <div data-delay="0" class="w-dropdown">
            <div class="w-dropdown-toggle">
              <div class="navlink">Events</div>
              <div class="w-icon-dropdown-toggle dropdown"></div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="cowboy-up.html" class="w-dropdown-link dropdownlink sub">Cowboy Up</a><a href="another-night-out.html" class="w-dropdown-link dropdownlink sub">Another Night Out</a><a href="go-fish.html" class="w-dropdown-link dropdownlink sub">Go Fish!</a>
            </nav>
</div>
          <div data-delay="0" class="w-dropdown">
            <div class="w-dropdown-toggle dropdowntoggle">
              <div class="navlink">Get Involved</div>
              <div class="w-icon-dropdown-toggle dropdown"></div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="donations.html" class="w-dropdown-link dropdownlink sub">Donations</a><a href="charity-charms.html" class="w-dropdown-link dropdownlink sub">Charity Charms</a><a href="volunteer.html" class="w-dropdown-link dropdownlink sub">Volunteer</a>
            </nav>
</div>
<a href="contact-us.html" class="w-nav-link navlink">Contact</a><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=9TMH3LYXE46QA" target="_blank" class="w-nav-link navbutton">DONATE</a>
        </nav><div class="w-nav-button w-clearfix menu">
          <div class="w-icon-nav-menu icon"></div>
        </div>
      </div>
    </div>
    <div class="w-container">
      <div class="intro">
        <h1 class="h1" data-field="h1" data-type="text">Home for today, Hope for tomorrow.</h1>
        <p class="body" data-field="content" data-type="text_long">We serve at risk and homeless youth by providing a safe, supportive, and structured environment.</p>
<a href="donations.html" class="w-button button">GET INVOLVED &amp; MAKE A DIFFERENCE</a>
      </div>
    </div>
  </div>