<div class="w-section sectionmission" data-bundle="sectionmission">
    <div class="w-container">
      <div class="missiondiv">
        <h3 class="h3 white" data-field="h3" data-type="text">OUR MISSION</h3>
        <h2 class="h2 white italics" data-field="h2" data-type="text">To provide emergency shelter, counseling and life changing services to at risk and homeless youth.</h2>
      </div>
    </div>
  </div>