<div class="w-section sectionsupplies" data-bundle="sectionsupplies">
    <div class="w-container">
      <div>
        <h5 class="h5" data-field="h5" data-type="text">We’re in immediate need of:</h5>
      </div>
      <div data-animation="outin" data-duration="500" data-infinite="1" data-delay="2500" data-autoplay="1" class="w-slider suppliesslider">
        <div class="w-slider-mask slidermask">
          <div class="w-slide slide">
            <div class="supplies" data-field="supplies" data-type="text">SCHOOL SUPPLIES</div>
          </div>
          <div class="w-slide">
            <div class="supplies">TOILETRIES</div>
          </div>
          <div class="w-slide">
            <div class="supplies">NEW WHITE TOWELS &amp; WASHCLOTHS</div>
          </div>
        </div>
      </div>
      <div class="buttonsdiv">
<a href="#" class="w-button buttonlink modal">WHAT ELSE CAN I GIVE »</a><a href="contact-us.html" class="w-button buttonlink teal">GET IN TOUCH »</a>
      </div>
    </div>
  </div>