<div class="w-section sectioncards" data-bundle="sectioncards">
    <div class="w-row">
      <div class="w-col w-col-4 cardcolumn">
        <div class="w-clearfix cardbg">
          <h3 class="h3 white cardtitle" data-field="donate" data-type="text">DONATE</h3>
          <div class="gradient"></div>
        </div>
        <div class="cardcontent">
          <h4 class="h4" data-field="parks" data-type="text">Parks Youth Ranch Charity Charms</h4>
          <p class="body left top" data-field="bodysupport" data-type="text_long">Support the Parks Youth Ranch Mission by purchasing a charm bracelet.</p>
<a href="charity-charms.html" class="w-button buttonlink teal">PURCHASE A BRACELET »</a>
        </div>
      </div>
      <div class="w-col w-col-4 cardcolumn borders">
        <div class="w-clearfix cardbg participate">
          <h3 class="h3 white cardtitle" data-field="part" data-type="text">PARTICIPATE</h3>
          <div class="gradient"></div>
        </div>
        <div class="cardcontent">
          <h4 class="h4" data-field="party" data-type="text">Party with a Purpose at Cowboy Up 2015!</h4>
          <p class="body left top" data-field="strap" data-type="text_long">Strap on your spurs and join us Saturday, October 3rd at George Ranch Historical Park Arena.</p>
<a href="cowboy-up.html" class="w-button buttonlink teal">VIEW EVENT DETAILS »</a>
        </div>
      </div>
      <div class="w-col w-col-4 cardcolumn">
        <div class="w-clearfix cardbg volunteer">
          <h3 class="h3 white cardtitle" data-field="volun" data-type="text">VOLUNTEER</h3>
          <div class="gradient"></div>
        </div>
        <div class="cardcontent">
          <h4 class="h4" data-field="mentors" data-type="text">Mentors Needed! PYR Needs You!</h4>
          <p class="body left top" data-field="become" data-type="text_long">Become a PYR MENTOR today!
            <br>Adult Mentors are critical to the success of our homeless youth.</p>
<a href="volunteer.html" class="w-button buttonlink teal">LEARN MORE »</a>
        </div>
      </div>
    </div>
  </div>