<div class="w-section section" data-bundle="section">
    <div class="w-container">
      <div class="contentdiv">
        <h2 class="h2 white" data-field="h2" data-type="text">Empowering youth when they need it the most</h2>
        <p class="body white" data-field="content" data-type="text_long">Parks Youth Ranch is a non-profit 501(c)(3) organization serving at risk and homeless youth by providing a safe, supportive, and structured environment. At Parks Youth Ranch we strive to provide a place of tranquility and recovery for children and teens between the ages of 7 and 17 running away from unstable situations.</p>
<a href="about-parks-youth-ranch.html" class="w-button buttonlink paddingright">LEARN MORE ABOUT PARKS YOUTH RANCH »</a><a href="volunteer.html" class="w-button buttonlink">VOLUNTEER OPPORTUNITIES »</a>
      </div>
    </div>
  </div>