<div class="w-section modal-background" data-bundle="background">
    <div class="w-clearfix modal-window">
      <a href="#" class="w-inline-block close"><img width="33" src="images/close.png"></a>
      <div class="modal-content">
        <h3 class="h3 modal">WHAT WE'RE IN NEED OF</h3>
        <ul class="body left">
<li>Backpacks &amp; school supplies</li>
          <li>Toiletries - shampoo, deodorant, toothpaste, and toothbrushes</li>
          <li>New white towels and washcloths</li>
          <li>Twin sheet sets and comforters</li>
          <li>Pantry items</li>
          <li>Underwear and socks of all sizes</li>
          <li>Liquid laundry soap</li>
          <li>Gift cards to Target, Walmart, Academy or Kohls (for shoes and clothing needs)</li>
        </ul>
<div class="modal-cta">If you have any of these items in new or gently used conditions, please <a class="text-highlight" href="contact-us.html">contact us</a>. Your small items make a big difference to our children.</div>
<a href="contact-us.html" class="w-button button modal">CONTACT US TO DONATE AN ITEM</a>
      </div>
    </div>
  </div>